<div class="container">
    <div class ="text-center text-muted">
    <h1 style="color:red;">BE FIT FITNESS CENTER</h1>
    <h3 style="color:black;">We have personal trainers who are certified experts in exercise physiology, anatomy, training program development, exercise application and fitness assessments. And they excel at applying that knowledge to your goals.</h3>
    <div class="an">
    <img src="assets/shadow.jpg" alt="Gym" style="width:50%;">
    
    <br>
    <button type="button"><a mat-button routerLink="/Place Appointment" class=" btn btn-dark" style="color:white;">place Appoinment </a></button>
    <!-- <a href="Appointment.html" type="Submit" class=" btn btn-dark" style="color:black;">Apply For Trainer</a>
    <a mat-button routerLink="Place Appointment" class=" btn btn-dark" style="color:white;">Place Appointment</a>-->
    </div>
    </div>
    </div>
    
    <footer>
      <div>
        <h3>About Fitness:</h3>
        <p>Physical fitness is a state of health and well-being and, more specifically, the ability to perform aspects of sports, occupations and daily activities. Physical fitness is generally achieved through proper nutrition, moderate-vigorous physical exercise, and sufficient rest.</p>
      </div>
    </footer>